---
import { AppButtons } from "mee-components";
---

<div
  class="gradient-from-white relative flex w-screen flex-col items-center px-10 pb-80 text-grey-800"
>
  <div
    class="flex w-full max-w-7xl flex-col items-center justify-between gap-4 md:flex-row md:gap-40"
  >
    <div class="w-full max-w-80 flex-1">
      <img class="w-full" src="/images/connections.png" alt="phone" />
    </div>
    <div class="z-70 flex flex-1 flex-col items-start gap-4">
      <div class="flex flex-col items-start gap-4">
        <div class="flex flex-col items-start">
          <div
            class="text-left text-lg leading-thick text-grey-500 md:text-xl md:leading-normal lg:text-2xl"
          >
            For developers
          </div>
          <h2
            class="section-title text-left text-3xl font-bold leading-thick md:text-4xl md:leading-normal lg:text-5xl"
          >
            Experimental builds
          </h2>
        </div>

        <h3 class="text max-w-3xl text-pretty text-start text-xl md:text-2xl">
          It’s still early days, but we’re making progress towards our vision.
          Experimental versions of the Mee Identity Agent are available for iOS
          and Android. We plan support for desktop platforms after we’ve made
          more progress on the mobile front.
        </h3>
        <!-- <a
          class="my-4 w-full text-xl leading-relaxed text-brand-600 underline md:text-2xl"
          href="https://Identity Agent.mee.foundation/"
        >
          Learn more about Mee Identity Agent <i
            class="bi bi-arrow-right ml-2"></i>
        </a> -->

        <AppButtons
          noDescription
          class="!w-full !items-start !justify-start !px-0 pt-4"
          buttonsClass="!flex-row-reverse"
        />
      </div>
    </div>
  </div>
</div>
